.profile__info {
    display: grid;
    grid-template-columns: 1fr 24px;
    gap: 7px 18px;
    align-self: center;
}

@media screen and (max-width: 767px) {
.profile__info {
    grid-template-columns: 1fr 18px;
    grid-column-gap: 10px;
    grid-row-gap: 6px;
    margin-top: 26px;
}
}